<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.social.dao.RegistrationOfCasesMapper">

    <resultMap id="BaseResultMap" type="com.social.pojo.RegistrationOfCases">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="organizational_code" property="organizationalCode" jdbcType="VARCHAR"/>
        <result column="name_of_the_complainant" property="nameOfTheComplainant" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="account_character" property="accountCharacter" jdbcType="INTEGER"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="complaint_contents" property="complaintContents" jdbcType="VARCHAR"/>
        <result column="name_of_registrant" property="nameOfRegistrant" jdbcType="VARCHAR"/>
        <result column="registration_time" property="registrationTime" jdbcType="VARCHAR"/>
        <result column="name_of_the_filer" property="nameOfTheFiler" jdbcType="VARCHAR"/>
        <result column="filing_month" property="filingMonth" jdbcType="INTEGER"/>
        <result column="filing_time" property="filingTime" jdbcType="VARCHAR"/>
        <result column="approval_status" property="approvalStatus" jdbcType="INTEGER"/>
        <result column="warning_time" property="warningTime" jdbcType="INTEGER"/>
        <result column="number_of_auditors" property="numberOfAuditors" jdbcType="INTEGER"/>
        <result column="audit_households" property="auditHouseholds" jdbcType="INTEGER"/>
        <result column="amount_paid" property="amountPaid" jdbcType="REAL"/>
        <result column="type_status" property="typeStatus" jdbcType="INTEGER"/>
        <result column="maxtime" property="maxtime" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, unit_name, organizational_code, name_of_the_complainant, id_card, phone, account_character, 
    age, sex, complaint_contents, name_of_registrant, registration_time, name_of_the_filer, 
    filing_month, filing_time, approval_status, warning_time, number_of_auditors, audit_households, 
    amount_paid, type_status, maxtime
  </sql>

    <sql id="Page_Column_list">
  unit_name,organizational_code,name_of_registrant,registration_time,account_character,name_of_the_complainant,
  phone,complaint_contents
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from registration_of_cases
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--
    approval_status 审批状态 (0：提交未审批，1：审批通过，2：审批未通过，3：结案归档,4:立案未提交);
    type_status 类型状态 (1、立案登记 2、日常审批 3、专项审批)
    -->
    <!--日常审计分页查询-->
    <!--案件登记分页查询-->
    <!--List<RegistrationOfCases> caseRegistrationPage(@Param("typeStatus")Integer typeStatus,@Param("approvalStatus")Integer approvalStatus,@Param("page") Integer page, @Param("pageNum") Integer pageNum);-->
    <select id="caseRegistrationPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from registration_of_cases where type_status=#{typeStatus} and approval_status=#{approvalStatus}
        limit ${(page-1)*pageNum},#{pageNum}
    </select>
    <!--案件登记所有条数查询-->
    <!--Integer caseRegistrationCount(@Param("typeStatus")Integer typeStatus,@Param("approvalStatus")Integer approvalStatus);-->
    <select id="caseRegistrationCount" resultType="Integer">
        select
        count(*)
        from registration_of_cases
        <where>
            <if test="unitName!=null">
                unit_name like #{unitName}
            </if>
            <if test="nameOfRegistrant!=null">
                and name_of_registrant like #{nameOfRegistrant}
            </if>
            <if test="organizationalCode!=null">
                and organizational_code like #{organizationalCode}
            </if>
            and type_status=#{typeStatus} and approval_status=#{approvalStatus}
        </where>
    </select>
    <!--案件登记模糊查询-->
    <select id="caseRegistrationLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from registration_of_cases
        <where>
            <if test="unitName!=null">
                unit_name like #{unitName}
            </if>
            <if test="nameOfRegistrant!=null">
                and name_of_registrant like #{nameOfRegistrant}
            </if>
            <if test="organizationalCode!=null">
                and organizational_code like #{organizationalCode}
            </if>
            and type_status=#{typeStatus} and approval_status=#{approvalStatus}
        </where>
        limit ${(page-1)*pageNum},#{pageNum}
    </select>
    <!--void updateStatus(@Param("approvalStatus")Integer approvalStatus,@Param("typeStatus")Integer typeStatus,@Param("id")Integer id);-->
    <!--修改状态(approval_status,type_status)案件提交功能-->
    <update id="updateStatus" parameterType="java.lang.Integer">
        update registration_of_cases set approval_status=#{approvalStatus},type_status=#{typeStatus}
        where id=#{id}
    </update>
    <select id="DailyByLikeSelect" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from registration_of_cases
        <where>
            <if test="unitName!=null">
                unit_name like #{unitName}
            </if>
            <if test="nameOfRegistrant!=null">
                and name_of_registrant like #{nameOfRegistrant}
            </if>
            <if test="organizationalCode!=null">
                and organizational_code like #{organizationalCode}
            </if>
            and type_status=2 and approval_status=0
        </where>
        limit ${(page-1)*pageNum},#{pageNum}
    </select>

    <!--approval_status 审批状态 (0：提交未审批，1：审批通过，2：审批未通过，3：结案归档,4:立案未提交);-->
    <!--type_status 类型状态 (1、立案登记 2、日常审批 3、专项审批)-->
    <select id="selectAllDailyCount" resultType="Integer">
        select count(*) from  registration_of_cases where type_status=2 and approval_status=0
    </select>

    <!-- 做过修改 修改了接收参数 -->
    <select id="selectBypage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Page_Column_list"/>
        from registration_of_cases limit 0,10
    </select>



    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update registration_of_cases set type_status=0 where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="com.social.pojo.RegistrationOfCases">
    insert into registration_of_cases (id, unit_name, organizational_code, 
      name_of_the_complainant, id_card, phone, 
      account_character, age, sex, 
      complaint_contents, name_of_registrant, registration_time, 
      name_of_the_filer, filing_month, filing_time, 
      approval_status, warning_time, number_of_auditors, 
      audit_households, amount_paid, type_status, 
      maxtime)
    values (#{id,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR}, #{organizationalCode,jdbcType=VARCHAR}, 
      #{nameOfTheComplainant,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{accountCharacter,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, 
      #{complaintContents,jdbcType=VARCHAR}, #{nameOfRegistrant,jdbcType=VARCHAR}, #{registrationTime,jdbcType=VARCHAR}, 
      #{nameOfTheFiler,jdbcType=VARCHAR}, #{filingMonth,jdbcType=INTEGER}, #{filingTime,jdbcType=VARCHAR}, 
      #{approvalStatus,jdbcType=INTEGER}, #{warningTime,jdbcType=INTEGER}, #{numberOfAuditors,jdbcType=INTEGER}, 
      #{auditHouseholds,jdbcType=INTEGER}, #{amountPaid,jdbcType=REAL}, #{typeStatus,jdbcType=INTEGER}, 
      #{maxtime,jdbcType=INTEGER})
  </insert>

    <insert id="insertSelective" parameterType="com.social.pojo.RegistrationOfCases">
        insert into registration_of_cases
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="unitName != null">
                unit_name,
            </if>
            <if test="organizationalCode != null">
                organizational_code,
            </if>
            <if test="nameOfTheComplainant != null">
                name_of_the_complainant,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="accountCharacter != null">
                account_character,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="complaintContents != null">
                complaint_contents,
            </if>
            <if test="nameOfRegistrant != null">
                name_of_registrant,
            </if>
            <if test="registrationTime != null">
                registration_time,
            </if>
            <if test="nameOfTheFiler != null">
                name_of_the_filer,
            </if>
            <if test="filingMonth != null">
                filing_month,
            </if>
            <if test="filingTime != null">
                filing_time,
            </if>
            <if test="approvalStatus != null">
                approval_status,
            </if>
            <if test="warningTime != null">
                warning_time,
            </if>
            <if test="numberOfAuditors != null">
                number_of_auditors,
            </if>
            <if test="auditHouseholds != null">
                audit_households,
            </if>
            <if test="amountPaid != null">
                amount_paid,
            </if>
            <if test="typeStatus != null">
                type_status,
            </if>
            <if test="maxtime != null">
                maxtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="unitName != null">
                #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="organizationalCode != null">
                #{organizationalCode,jdbcType=VARCHAR},
            </if>
            <if test="nameOfTheComplainant != null">
                #{nameOfTheComplainant,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="accountCharacter != null">
                #{accountCharacter,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="complaintContents != null">
                #{complaintContents,jdbcType=VARCHAR},
            </if>
            <if test="nameOfRegistrant != null">
                #{nameOfRegistrant,jdbcType=VARCHAR},
            </if>
            <if test="registrationTime != null">
                #{registrationTime,jdbcType=VARCHAR},
            </if>
            <if test="nameOfTheFiler != null">
                #{nameOfTheFiler,jdbcType=VARCHAR},
            </if>
            <if test="filingMonth != null">
                #{filingMonth,jdbcType=INTEGER},
            </if>
            <if test="filingTime != null">
                #{filingTime,jdbcType=VARCHAR},
            </if>
            <if test="approvalStatus != null">
                #{approvalStatus,jdbcType=INTEGER},
            </if>
            <if test="warningTime != null">
                #{warningTime,jdbcType=INTEGER},
            </if>
            <if test="numberOfAuditors != null">
                #{numberOfAuditors,jdbcType=INTEGER},
            </if>
            <if test="auditHouseholds != null">
                #{auditHouseholds,jdbcType=INTEGER},
            </if>
            <if test="amountPaid != null">
                #{amountPaid,jdbcType=REAL},
            </if>
            <if test="typeStatus != null">
                #{typeStatus,jdbcType=INTEGER},
            </if>
            <if test="maxtime != null">
                #{maxtime,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.social.pojo.RegistrationOfCases">
        update registration_of_cases
        <set>
            <if test="unitName != null">
                unit_name = #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="organizationalCode != null">
                organizational_code = #{organizationalCode,jdbcType=VARCHAR},
            </if>
            <if test="nameOfTheComplainant != null">
                name_of_the_complainant = #{nameOfTheComplainant,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="accountCharacter != null">
                account_character = #{accountCharacter,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="complaintContents != null">
                complaint_contents = #{complaintContents,jdbcType=VARCHAR},
            </if>
            <if test="nameOfRegistrant != null">
                name_of_registrant = #{nameOfRegistrant,jdbcType=VARCHAR},
            </if>
            <if test="registrationTime != null">
                registration_time = #{registrationTime,jdbcType=VARCHAR},
            </if>
            <if test="nameOfTheFiler != null">
                name_of_the_filer = #{nameOfTheFiler,jdbcType=VARCHAR},
            </if>
            <if test="filingMonth != null">
                filing_month = #{filingMonth,jdbcType=INTEGER},
            </if>
            <if test="filingTime != null">
                filing_time = #{filingTime,jdbcType=VARCHAR},
            </if>
            <if test="approvalStatus != null">
                approval_status = #{approvalStatus,jdbcType=INTEGER},
            </if>
            <if test="warningTime != null">
                warning_time = #{warningTime,jdbcType=INTEGER},
            </if>
            <if test="numberOfAuditors != null">
                number_of_auditors = #{numberOfAuditors,jdbcType=INTEGER},
            </if>
            <if test="auditHouseholds != null">
                audit_households = #{auditHouseholds,jdbcType=INTEGER},
            </if>
            <if test="amountPaid != null">
                amount_paid = #{amountPaid,jdbcType=REAL},
            </if>
            <if test="typeStatus != null">
                type_status = #{typeStatus,jdbcType=INTEGER},
            </if>
            <if test="maxtime != null">
                maxtime = #{maxtime,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.social.pojo.RegistrationOfCases">
    update registration_of_cases
    set unit_name = #{unitName,jdbcType=VARCHAR},
      organizational_code = #{organizationalCode,jdbcType=VARCHAR},
      name_of_the_complainant = #{nameOfTheComplainant,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      account_character = #{accountCharacter,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      complaint_contents = #{complaintContents,jdbcType=VARCHAR},
      name_of_registrant = #{nameOfRegistrant,jdbcType=VARCHAR},
      registration_time = #{registrationTime,jdbcType=VARCHAR},
      name_of_the_filer = #{nameOfTheFiler,jdbcType=VARCHAR},
      filing_month = #{filingMonth,jdbcType=INTEGER},
      filing_time = #{filingTime,jdbcType=VARCHAR},
      approval_status = #{approvalStatus,jdbcType=INTEGER},
      warning_time = #{warningTime,jdbcType=INTEGER},
      number_of_auditors = #{numberOfAuditors,jdbcType=INTEGER},
      audit_households = #{auditHouseholds,jdbcType=INTEGER},
      amount_paid = #{amountPaid,jdbcType=REAL},
      type_status = #{typeStatus,jdbcType=INTEGER},
      maxtime = #{maxtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!-- 按照条件查询 -->
    <select id="selectRegistrationOfCases" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from registration_of_cases
        where
        <if test="unitName != null">
            unit_name = #{unitName,jdbcType=VARCHAR},
        </if>
        or
        <if test="organizationalCode != null">
            organizational_code = #{organizationalCode,jdbcType=VARCHAR},
        </if>
        or
        <if test="nameOfTheComplainant != null">
            name_of_the_complainant = #{nameOfTheComplainant,jdbcType=VARCHAR},
        </if>
    </select>
</mapper>